<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>ingang</display-name>
	<servlet>
		<description>
		</description>
		<display-name>MemberController</display-name>
		<servlet-name>MemberController</servlet-name>
		<servlet-class>kr.co.no1.member.controller.MemberController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberController</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>LectureController</display-name>
		<servlet-name>LectureController</servlet-name>
		<servlet-class>kr.co.no1.lecture.controller.LectureController</servlet-class>
		
		<multipart-config>
			<location>/img</location>
			<max-file-size>20848820</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LectureController</servlet-name>
		<url-pattern>*.le</url-pattern>
	</servlet-mapping>

	
</web-app>